@media (max-width: 960px) {
    .container {
        max-width: 90%;
    }
    .catalog__content {
        justify-content: center;
    }
    .catalog-item {
        margin:10px;
        
    }
    .carousel__inner {
        width: 85%;
    }
    .slick-slide img {
        width: 100%;
    }
    .title_left {
        font-size: 30px;
    }
    .catalog__tab {
        width: 182px;
        height: 48px;
        font-size: 16px;
        line-height: 47px;
    }
    .footer__info {
        position: relative;
        width: 100%;
        padding: 30px 10px 10px;
    }

}
@media (max-width: 720px) {
    .catalog .container {
        max-width: 95%;
    }
    .heder {
        position: relative;
    }
    .header__contacts {
        position:absolute;
        display: block;
        width: 196px;
        top: 75px;        
        right: 0;
    }
    .promo__header {
        font-size: 36px;
    }
    .promo__subheader {
        font-size: 20px;
    }
    .advantage__items {
        margin-top: 20px;
        flex-direction: column;
    }
    .advantage__item {
        width: 100%;
        margin-top: 20px;
    }
    .advantage__item__title {
        margin-top: 15px;
    }
    .advantage__item__descr {
        margin-top: 10px;
    }
    .title_left {
        text-align: left;
    }
    .catalog__content {
        margin-top: 30px;
    }
    .catalog__tab {
        margin: 5px;
    }
}
@media (max-width: 540px) {
    .feedback {
        &__item {
            display: block;
        }
        &__user, &__userstars {
            text-align: center;
        }
        &__img {
            margin: 0 auto 15px ;
        }
        
    }
}
@media (max-width: 490px) {
    .header {
        flex-direction: column;
    }
    .header__official {
        margin-top: 15px;
    }
    .header__contacts {
        margin-top: 15px;
        position: relative;
        top: unset;
        width: unset;
        display: flex;
        align-items: center;
    }
    .promo__wrapper {
        margin-top: 25px;
    }
    .promo__header {
        margin-top: 40px;
    }
    .promo__icons {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .promo__icon {
        margin-top: 20px !important;
        width: unset;
    }
    .promo__icon img {
        margin: 0 auto 4px auto;
    }
    .catalog__tabs {
        margin-top: 30px;
    }
    .title_left {
        font-size: 28px;
        line-height: 40px;
    }
}